<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Razvi Darul Ifta</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Pacifico&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <!-- <link href="static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"> -->
        
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/animate/animate.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}">


        <!-- Customized Bootstrap Stylesheet -->
        <!-- <link href="static/css/bootstrap.min.css" rel="stylesheet">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <!-- Template Stylesheet -->
        <!--<link href="static/css/style.css" rel="stylesheet">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- Add Bootstrap JS and Popper.js scripts -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Add mammoth.js script -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.0.1/mammoth.browser.min.js"></script>

    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->


        <!-- Topbar start -->
        <div class="container-fluid fixed-top" style="background-image: url('static/img/pattern3.avif');">
            <div class="container topbar d-none d-lg-block">
                <div class="topbar-inner">
                    <div class="row gx-0">
                        <div class="col-lg-7 text-start">
                            <div class="h-100 d-inline-flex align-items-center me-4">
                                <span class="fa fa-phone-alt me-2 text-dark"></span>
                                <!-- <a href="#" class="text-secondary"><span>+012 345 6789</span></a> -->
                            </div>
                            <div class="h-100 d-inline-flex align-items-center">
                                <span class="far fa-envelope me-2 text-dark"></span>
                                <!-- <a href="#" class="text-secondary"><span>info@example.com</span></a> -->
                            </div>
                        </div>
                        <div class="col-lg-5 text-end">
                            <div class="h-100 d-inline-flex align-items-center">
                                <span class="text-body">Follow Us:</span>
                                <a class="text-dark px-2" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="text-dark px-2" href=""><i class="fab fa-twitter"></i></a>
                                <a class="text-dark px-2" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="text-dark px-2" href=""><i class="fab fa-instagram"></i></a>
                                <a class="text-body ps-4" href=""><i class="fa fa-lock text-dark me-1"></i> Signup/login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <nav class="navbar navbar-light navbar-expand-lg py-3">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="mb-0">Razvi Darul <span class="text-primary">Ifta</span> </h1>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav ms-lg-auto mx-xl-auto">
                             <!-- <a href="http://127.0.0.1:5000/" class="nav-item nav-link active">Home</a>
                            <a href="http://127.0.0.1:5000/about" class="nav-item nav-link">About</a>
                            <a href="http://127.0.0.1:5000/fatwa" class="nav-item nav-link">Fatwa</a>
                            <a href="http://127.0.0.1:5000/books" class="nav-item nav-link">Books</a>
                            -->

                            <a href="http://razvidaruliftabareilly.com/" class="nav-item nav-link active">Home</a>
                            <a href="http://razvidaruliftabareilly.com/about" class="nav-item nav-link">About</a>
                            <a href="http://razvidaruliftabareilly.com/fatwa" class="nav-item nav-link">Fatwa</a>
                            <a href="http://razvidaruliftabareilly.com/books" class="nav-item nav-link">Books</a>
                            <!-- <a href="activity.html" class="nav-item nav-link">Activities</a>
                            <a href="event.html" class="nav-item nav-link">Events</a>
                            <a href="sermon.html" class="nav-item nav-link">Journey Reports</a>
                            <a href="sermon.html" class="nav-item nav-link">Sermons</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                                <div class="dropdown-menu m-0 rounded-0">
                                    <a href="blog.html" class="dropdown-item">Latest Blog</a>
                                    <a href="team.html" class="dropdown-item">Our Team</a>
                                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                    <a href="404.html" class="dropdown-item">404 Page</a>
                                </div>
                            </div> -->
                            <a href="http://127.0.0.1:5000/contact" class="nav-item nav-link">Contact</a>
                        </div>
                        <!-- <a href="" class="btn btn-primary py-2 px-4 d-none d-xl-inline-block">Donate</a> -->
                    </div>
                </nav>
            </div>
        </div>
        <!-- Topbar End -->


        <!-- Hero Start -->
        <div class="container-fluid hero-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div >
                           <!-- <p class="fs-4 text-dark">WELCOME TO Razvi Darul Ifta</p>
                            <h3 class="display-1 mb-5 text-dark">Purity Comes From Faith</h3>-->
                            <!--<a href="" class="btn btn-primary py-3 px-5">Read More</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        
        <!-- intro -->
        <br><br>
        <div class="mx-auto text-center mb-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
            <p class="fs-2 text-uppercase text-primary">Manifestation of Hijjat al-Islam at a Glance</p>
        </div>
        <div class="container-fluid about py-5" style="background-image: url('static/img/pattern3.avif');">
            <div class="container py-5">
                <div >
                    <div  data-wow-delay="0.5s" >
                        
                        <ol class="list-group list-group">
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Blessed Birth: 11 Safar Al Muzaffar according to 1 August 1993.</b></li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Dear Name: Mohammad Arsalan Raza.</b></li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b> Nicknames: Mazhar Hujatul Islam, Sarmayah Iftikhar Faiz-ul-Rasul (title bearer Sahib Sajjada Braon Sharif), Chashm and Chirag family Raza) .</b></li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Genealogy: Mufti Muhammad Arsalan Raza Khan Ibn Maulana Usman Raza Khan aka (Anjam Mian) Ibn Rehan Millat Hazrat Allama Rehan Raza Khan aka (Rahmani Mian) Ibn Mufsir Azam Hind Hazrat Allama Ibrahim Raza Khan aka (Jilani Mian) Ibn Hajjatul Islam Hazrat Allama Hamid Raza Khan Ibn Imam Ahl as-Sunnat Shah Ahmad Raza Khan Qudsat Asrarham.</b></li>

                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Education and Training: Nazra received his early education in Quran and Urdu at home from his mother, Majda, and in her embrace of love and affection, qualities such as Islamic civilization and knowledge of literature were adorned and cherished by Hamida from childhood. In view of the contemporary requirements, he received modern education in school and college for several years, after that he entered the great religious teaching center of the world of Islam, Yadgar-e-Ala Hazrat Markaz Ahl-e-Sunnat Jamia Razaviya Manzar Islam, and the early books of Dars Nizami, Hazrat Maulana Naeemullah Khan Sahib Qibla. Read from the former president of Madrasain Jamia Rizvia Manzar Islam. Then, since there was a crowd of devotees and a large number of visitors in the monastery, due to which reading and writing would be disturbed and education would be affected, therefore, in order to get unity and harmony in education, on the advice of the elders of the house, Braon Sharif was moved from Bareilly Sharif. He traveled to India and enrolled in Darul Uloom Faizul Rasool, a famous religious school of India, and started giving formal education there. Hadith and Principles of Hadith, Jurisprudence and Principles of Jurisprudence, Tafsir and Principles of Tafsir and others, and finally, according to the 22nd of Muharram al-Haram 1439 A.H., on Friday, 13 October 2017, in the annual gathering of Islamic scholars and Mashaikhs. The golden crowns of virtue were bestowed by holy hands.</b></li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Teachers: The names of the ulama from whom you studied Nizami from the beginning to the end are: Hazrat Maulana Mufti Naeemullah Khan Sahib, former President of Madrasin Jamia Razavi Manzar Islam Bareilly Sharif, Hazrat Maulana Mufti Muhammad Tassim Sahib Qibla Mustafavi (Rahma) (May Allah be pleased with him) Former Mufti and Madrasah of Darul Uloom Faiz ul Rasool Braon Sharif, Hazrat Mufti Shahabuddin Sahib Qibla Mad Zillah Ul Aali Modras Dar Uloom Faiz ul Rasool Braon Sharif, Hazrat Mufti Nizamuddin Sahib Qiblah rahmatullah ta’ala alaihi ex-Teacher of Dar Uloom Faiz ul Rasool Braon Sharif Hazrat Maulana Rabi Noorani Sahib Qibla, Ustaz Dar Uloom Faiz ul Rasool Braon Sharif, Hazrat Maulana Muhammad Ismail Sahib Qibla Sheikh Hadith Dar Uloom Faiz ul Rasool Braon Sharif, Hazrat Maulana Qari Khalqullah Sahib Qibla Khaliq Faizi Former Ustaz Dar Uloom Faiz ul Rasool Braon Sharif. </b></li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Hazrat Taj Al-Sharia Quds Sira's scholarly use: On holidays and other occasions, whenever he got an opportunity, Sarkar would make scholarly use of Taj Al-Sharia Quds Sira and sometimes he would present difficult phrases, exact meanings and concepts, but difficult problems in the presence of Hazrat. If you can find satisfactory answers and solutions to them, then as a special teacher, the name of Huzur Taj Al-Sharia Quds Sira is also on the top of the list of teachers.</b></li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Educational trip to Egypt: After graduating from Madar-e-Ilmi Darul-ul-Uloom, Faiz-ul-Rasul Braun Sharif, in the last days of 2017, he attended Jamia Azhar, the oldest Islamic religious university in the world of Islam, in order to acquire higher education and refine his thinking and wisdom. made a long journey and from the beginning of 2018 to the middle of 2023, with the exception of 2020 (which was due to the Corona crisis), he was associated with Jamia Azhar Misr for almost five years, with all his hard work and dedication, the educational curriculum there. Completed and graduated with a BA in Al-Usul al-Din in the category of Hadith and Science, so many students from Hindu Pakistan and other countries go to Azhar University and learn from there, but with reference to Azhar The conduct and manner of the students was different and distinguished from the common students, on the other hand, some students are also seen from here who take wealth such as soundness of action, correctness of thought and thought, and perseverance and perseverance. Enlightenment, free-mindedness, etc. by getting involved in evils, they give away the wealth of their thought and action, firmness and perseverance, but the aforesaid went with the trust, asceticism, piety, firmness and perseverance of his family. In the same way, he returned with these precious treasures (just as the Holy Prophet returned to the Taj Al-Sharia) and the glare there could not dazzle his eyes. Like the other students, he did not decide on the talmiz in front of every doctor there, rather, he established a talmiz relationship only with the one whose appearance and interior was decorated with the sunnah. Most of the time, they used to stay in their dear homeland and engage in reading books, writing fatwas, teaching and teaching, authoring and compiling, inviting and preaching, etc., they would go to Egypt a few days before the exams, take a separate room from the university and study the prescribed curriculum in isolation. According to the syllabus, Ghair used to study and return home after taking the exam on the scheduled time. It was said that because most of the present-day Dakatara are deviant from the Sunnah, free-thinking, influenced by Western culture and civilization, but involved, dressed in the clothes of Magharba Fajar, are happy with enlightenment, because in the nature of the said person, purity, asceticism and piety, Following the Sunnah and the way of the ancestors, had been instilled since childhood and these qualities were inherited by you, in such a way that your heart did not allow you to kneel down in front of everyone whether you wanted to or not. The result of this good attitude was that Fazal Yazdani and Karam Rasool Lathani and Faizan Ulamai Rabbani (your father and ancestors) were so much on you that he was included in the top ten of his rank in the first academic year of Kaliya. No other Hindu-Pakist student could achieve this feat in Kalya Usul-ud-Din, for which he was awarded an honorary award by Ittihad Talabat-ul-Hind to congratulate and encourage him, and this series continued to increase year by year here. Until this year i.e. in the final year of my study trip to Egypt, I graduated with distinction with 92% marks, Alhamdulillah Ali Zalik.</b></li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Teaching: Although you have not yet taught in a regular school, but you have rich teaching skills, and you also have a great taste and passion for teaching, but there are some serious obstacles at present. They are prohibited from formal teaching, but in any case (ma la yadrik kalah la yatrik jala) for the sake of satisfying their tastes and passions, they have arranged that sometimes at Dar al-Afta and sometimes at their own home, Jamia Razaviya Manzar some scholars of Islam. He taught the students the principles of jurisprudence and hadith and the sciences of hadith. Whoever had the honor of learning from you, was impressed by your style of understanding, scholarly research of phrases, and satisfactory solutions to doubts and objections. Could not live without.</b></li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Authorship and Compilation: Several books of Hazrat Musauf have been published so far and some are about to come, the list of names of which is as follows.</b>
                                <ul class="list-group">
                                    <li class="list-group-item" style="font-size: 20px; color: #333;">Al-Wardat fi Sharh Al-Firdat: This Sarkar Taj al-Sharia contains an Urdu translation and a little interpretation of the Arabic Sharh Al-Firdah of Qaseeda Burda Sharif of Sarkar Taj al-Sharia Quds Sira.</li>
                                    <li class="list-group-item" style="font-size: 20px; color: #333;">Rislatan al-Wahawtaan: This book actually consists of two great magazines related to the rejection of Wahhabism, one of which is “Al-Sawaaq al-Ilahiya fi al-Rard ali al-Wahhabiya” which is written by Sheikh Sulaiman ibn Abdul-Wahhab Quds Sira, the brother of Imam al-Wahhabi Muhammad Ibn Abdul-Wahhab Najdi. , on which the above has a smooth Urdu translation and a margin, and the second book is "Al-Darr Suniyyah Fi Al-Ird Ali Al-Wahhabiyya" by Hazrat Sheikh Ahmad Zaini Dahlan Makki (Alaihi Rahma), on which the commentator of Azam Hind Hazrat Allama Ibrahim Raza Khan Quds Sira. It is an Urdu translation and interpretation, Hazrat Musauf has made a margin on it and modernized its arrangement.</li>
                                    <li class="list-group-item" style="font-size: 20px; color: #333;">Tarbiat Loh Wa Qalam: This is a fragrant bouquet of scholarly and research articles written by the Prophet on various topics, which is a memory of his student days.</li>
                                    <li class="list-group-item" style="font-size: 20px; color: #333;">Training in Jurisprudence and Afta: At the end of the book Chashma Dar al-Iftay in Bareilly, about 60 to 65 fatwas related to the modern and ancient problems of the Prophet are listed under the title of Training in Jurisprudence and Afta, which is your knowledge, research, There is evidence of critical thinking.</li>
                                    <li class="list-group-item" style="font-size: 20px; color: #333;">The city of Egypt, which has a deep connection with Islamic history, especially in the context of the thousand-year history of Azhar University in Egypt, the changes and changes in these countries and eras in these ten centuries, liberalism, immorality and the decline of Islamic culture. He is actively working on bringing an analytical study and experimental observation about the decline into a book form, soon the readers will be privileged to visit and study this book.</li>
                                    <li class="list-group-item" style="font-size: 20px; color: #333;">And apart from them, there are many published articles etc. on various topics of the Prophet, some of which have been published in Mahnama Ala Hazrat etc. and continue to receive praise from scholars and writers.</li>
                                    <li class="list-group-item" style="font-size: 20px; color: #333;">At present, he is engaged in the great work of fatwa writing and is continuing the two hundred years history of fatwa writing by his elders. For which, about three years ago, in front of the Dargah Sharif, in the name of Razvi Dar Al-Afta, the ancient Razvi Dar Al-Afta of the Supreme Imam Ahl-e-Sunnah Quds Sira has been revived as if many Muftis are engaged in it. They are doing religious services while staying.</li>
                                    
                                </ul>
                            </li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Speech: Allah Almighty has given the said person the queen of perfection in this art as well, that from an early age, he started to spread knowledge gems in the form of speech in the form of speech to the masses and the people of Ahl as-Sunnah and with the passage of time, this perfection increased. It happened, at the young age of only 11 years, Jad Amjad Syedna gave such a wonderful speech in the ceremony of the Urs Mubarak of Hazrat Quds Sira that the scholars and orators sitting on the member were surprised and shocked. When Al-Sharia Quds Sira heard it, he not only expressed his happiness, but called him and took out a 100 rupee note from his private pocket and said, "This is your reward." It was received more than before and the Ulamas and Mashaykhs present on the member increased and blessed him with many prayers, on this occasion Mufti Hazrat Allama Mufti Muhammad Farooq Sahib Qibla Rizvi, the former president of Jamia Rizvia Manzar Islam, gave a long congratulatory speech. Manzum had written, some of whose poems are to be briefly quoted here for the pleasure and interest of the readers. 1. Arsalan O Gulshan Noori Raza's fresh flowers, they are tanveer on your speech. Each letter of your speech was a heart-warming speech, and it was a blessing to you. 3. The sentence was a sentence of your speech. O my son of Makhdoom, that was your strong expression of the dignity of Ghos, Khwaja and Reza. Urs Rizvi assembly raised this speech, in fact, it is called Inayat Raza. Since then, every year on the occasion of Urs Rizvi, he usually gives a speech before the Qal Sharif in Islamia Ground, in the Jam Ghafir of the scholars and people of Ahlul Sunnah. Everyone listens with full attention and dedication, but their eagerness can be gauged from the fact that many people said to me (Raqim al-Sawturi) that "We listen to the speech of Hazrat Arslan Mian Sahib Qibla and his "They sit near the stage in front only to visit the face" and apart from Urs Rizvi, they strongly supported and reformed the beliefs and practices of Sunnis through their statements and speeches by making preaching and speaking tours throughout the country. Acts Muslims say, this process is still going on.</b></li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Award: Thus, you have been awarded many times in recognition of your ability and services at different places, but the most important among them is the "Shoaib Al-Awalia Award", which you received in the same year. Madar Ilmi Darul Uloom Faiz ul Rasool has been awarded in the annual meeting held on 22 Muharram al-Haram in Braun Sharif.</b></li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Pledge of Allegiance: At the age of infancy, he was presented for Pledge of Allegiance in the court of Hazrat Ahsan Ulama Al-Quds Sira, the Great Peer Khana of the Razaviya Family, the Marja Ahl al-Marifat, the Great Elder of Marahrah, the Great Murshid-e-Azam of India. He sucked his finger and entered you, just as Sarkar Noori Mian Quds Sira pledged allegiance to Hazrat Mufti Azam Hind Quds Sira. And God Almighty will continue to see, Murshid-e-Azam, by sucking his finger, gave knowledge and knowledge, piety, purity, thought and wisdom. Praise be to Allah Ali.</b></li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Khilafat and permission: You have not only the devotion and honor of being a student, but also the honor of permission and caliphate from Hazrat Taj Al-Sharia Quds Sira, which Hazrat Alaihi Rahma gave to you in his Kashana Al-Aqdas on the spring occasion of Urs Razvi in the 96th year. In the presence of eminent scholars and Sheikhs and in the presence of special attendees, he granted the caliphate with the condition of the Supreme Leader, not only did he grant the caliphate, but he also had expectations from himself regarding the service of the religion, the religion and the center in the future. On one occasion, he himself said to his grandson Nabira Amin Shariat Hazrat Sufyan Mian that "Arsalan has read and written, there is some hope for him". Praise be to Allah, the whole meaning and consideration of the trust, honesty and conditions of the permission of the Murshid is present in your behavior and character and following the footprints of the Holy Prophet, the spirit of "Love for Allah and Hatred for Allah". Devoted to Sadiqa, they are engaged in serving the people, supporting religion and creed, preaching religion and sunnah and promoting it.</b></li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Shadi Khanabadi: In the same year that he graduated from his alma mater, Darul Uloom Faizul Rasool, the same year before Dastarbandi 6 Ramadan 1438 AH, on 2 June 2017, his uncle Prince Rehan Millat, Hazrat Maulana Qari Taslim Raza Khan Sahib Qibla. He got married to the daughter of Nik Bakht, the specialty of this marriage was that this marriage took place on Friday in the shade of the green dome in Masjid Nabawi Sharif, which reminded of the marriage of Hazrat Maulay Kainat and Khatun Jannat (RA). It happened in Masjid Nabawi Sharif.</b></li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b>Children of Amjad: Allah Almighty has also blessed you with the blessing of children, you have two daughters, the elder daughter "Aswa Fatima" who is three and a half years old and the younger daughter "Urwa Fatima" who is 2 years old. May Allah bless you with the offspring of Nareena. Amen, may the peace and blessings of God be upon you. And setting up the living conditions of the good servants of the Almighty is also auspiciousness and good fortune. May Allah accept these lines with honor and may the charity of the Holy Prophet make this poor person also good and worthy of any work. Amen May Allah bless him and grant him peace.</b></li>
                            <li class="list-group-item" style="font-size: 24px; color: #242425; font-family:Apple Chancery, cursive;"><b></b></li>
                            
                           
                        </ol>
                        
                        
                    </div>
                </div>
                <!--
                <div class="container text-center bg-primary py-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="row g-4 align-items-center">
                        <div class="col-lg-2">
                            <i class="fa fa-mosque fa-5x text-white"></i>
                        </div>
                        <div class="col-lg-7 text-center text-lg-start">
                            <h1 class="mb-0">Every Muslim Needs To Realise The Importance Of The "Pillar" Of Islam</h1>
                        </div>
                        <div class="col-lg-3">
                            <a href="" class="btn btn-light py-2 px-4">Learn More</a>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <!-- About End -->

        <!-- Bootstrap Modal -->
    <div class="modal" id="docModal" tabindex="-1" role="dialog" aria-labelledby="docModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="docModalLabel">Document Content</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="output"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <!--
    <div class="box" style="width: 2000px; height:20px; color: aquamarine;" >
        <div class="box" style="width: 1900px; height:15px; color: rgb(9, 191, 130);" >


        </div>

    </div>
    -->


        <!-- Activities Start -->
        <!--
        <div class="container-fluid activities py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
                    <p class="fs-5 text-uppercase text-primary">Activities</p>
                    <h1 class="display-3">Here Are Our Activities</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-6 col-xl-4">
                        <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.1s">
                            <i class="fa fa-mosque fa-4x text-dark"></i>
                            <div class="ms-4">
                                <h4>Mosque Development</h4>
                                <p class="mb-4">Lorem ipsum dolor sit amet elit. Donec tempus eros vel dolor mattis aliquam.</p>
                                <a href="" class="btn btn-primary px-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.3s">
                            <i class="fa fa-donate fa-4x text-dark"></i>
                            <div class="ms-4">
                                <h4>Charity & Donation</h4>
                                <p class="mb-4">Lorem ipsum dolor sit amet elit. Donec tempus eros vel dolor mattis aliquam.</p>
                                <a href="" class="btn btn-primary px-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.5s">
                            <i class="fa fa-quran fa-4x text-dark"></i>
                            <div class="ms-4">
                                <h4>Quran Learning</h4>
                                <p class="mb-4">Lorem ipsum dolor sit amet elit. Donec tempus eros vel dolor mattis aliquam.</p>
                                <a href="" class="btn btn-primary px-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.1s">
                            <i class="fa fa-book fa-4x text-dark"></i>
                            <div class="ms-4">
                                <h4>Hadith & Sunnah</h4>
                                <p class="mb-4">Lorem ipsum dolor sit amet elit. Donec tempus eros vel dolor mattis aliquam.</p>
                                <a href="" class="btn btn-primary px-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.3s">
                            <i class="fa fa-book-open fa-4x text-dark"></i>
                            <div class="ms-4">
                                <h4>Parent Education</h4>
                                <p class="mb-4">Lorem ipsum dolor sit amet elit. Donec tempus eros vel dolor mattis aliquam.</p>
                                <a href="" class="btn btn-primary px-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.5s">
                            <i class="fa fa-hands fa-4x text-dark"></i>
                            <div class="ms-4">
                                <h4>Help Orphans</h4>
                                <p class="mb-4">Lorem ipsum dolor sit amet elit. Donec tempus eros vel dolor mattis aliquam.</p>
                                <a href="" class="btn btn-primary px-3">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- Activities Start -->


        <!-- Events Start -->
        <!--
        <div class="container-fluid event py-5">
            <div class="container py-5">
                <h1 class="display-3 mb-5 wow fadeIn" data-wow-delay="0.1s">Upcoming <span class="text-primary">Events</span></h1>
                <div class="row g-4 event-item wow fadeIn" data-wow-delay="0.1s">
                    <div class="col-3 col-lg-2 pe-0">
                        <div class="text-center border-bottom border-dark py-3 px-2">
                            <h6>01 Jan 2045</h6>
                            <p class="mb-0">Fri 06:55</p>
                        </div>
                    </div>
                    <div class="col-9 col-lg-6 border-start border-dark pb-5">
                        <div class="ms-3">
                            <h4 class="mb-3">Milad Un Nabi</h4>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                                aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                            <a href="#" class="btn btn-primary px-3">Join Now</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="overflow-hidden mb-5">
                            <img src="static/static/img/events-1.jpg" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                </div>
                <div class="row g-4 event-item wow fadeIn" data-wow-delay="0.3s">
                    <div class="col-3 col-lg-2 pe-0">
                        <div class="text-center border-bottom border-dark py-3 px-2">
                            <h6>01 Jan 2045</h6>
                            <p class="mb-0">Wed 11:30</p>
                        </div>
                    </div>
                    <div class="col-9 col-lg-6 border-start border-dark pb-5">
                        <div class="ms-3">
                            <h4 class="mb-3">Eid Ul Fitr</h4>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                                aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                            <a href="#" class="btn btn-primary px-3">Join Now</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="overflow-hidden mb-5">
                            <img src="static/static/img/events-2.jpg" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                </div>
                <div class="row g-4 event-item wow fadeIn" data-wow-delay="0.5s">
                    <div class="col-3 col-lg-2 pe-0">
                        <div class="text-center border-bottom border-dark py-3 px-2">
                            <h6>01 Jan 2045</h6>
                            <p class="mb-0">Thu 11:30</p>
                        </div>
                    </div>
                    <div class="col-9 col-lg-6 border-start border-dark pb-5">
                        <div class="ms-3">
                            <h4 class="mb-3">Eud Ul Azha</h4>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                                aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                            <a href="#" class="btn btn-primary px-3">Join Now</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="overflow-hidden mb-5">
                            <img src="static/static/img/events-3.jpg" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- Events End -->


        <!-- Sermon Start -->
        <!--
        <div class="container-fluid sermon py-5">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
                    <p class="fs-5 text-uppercase text-primary">Sermons</p>
                    <h1 class="display-3">Join The Islamic Community</h1>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-6 col-xl-4">
                        <div class="sermon-item wow fadeIn" data-wow-delay="0.1s">
                            <div class="overflow-hidden p-4 pb-0">
                                <img src="static/img/sermon-1.jpg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="p-4">
                                <div class="sermon-meta d-flex justify-content-between pb-2">
                                    <div class="">
                                        <small><i class="fa fa-calendar me-2 text-muted"></i><a href="" class="text-muted me-2">13 Nov 2023</small></a>
                                        <small><i class="fas fa-user me-2 text-muted"></i><a href="" class="text-muted">Admin</small></a>
                                    </div>
                                    <div class="">
                                        <a href="" class="me-1"><i class="fas fa-video text-muted"></i></a>
                                        <a href="" class="me-1"><i class="fas fa-headphones text-muted"></i></a>
                                        <a href="" class="me-1"><i class="fas fa-file-alt text-muted"></i></a>
                                        <a href="" class=""><i class="fas fa-image text-muted"></i></a>
                                    </div>
                                </div>
                                <a href="" class="d-inline-block h4 lh-sm mb-3">How to get closer to Allah</a>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                   <div class="col-lg-6 col-xl-4">
                        <div class="sermon-item wow fadeIn" data-wow-delay="0.3s">
                            <div class="overflow-hidden p-4 pb-0">
                                <img src="static/static/img/sermon-2.jpg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="p-4">
                                <div class="sermon-meta d-flex justify-content-between pb-2">
                                    <div class="">
                                        <small><i class="fa fa-calendar me-2 text-muted"></i><a href="" class="text-muted me-2">13 Nov 2023</small></a>
                                        <small><i class="fas fa-user me-2 text-muted"></i><a href="" class="text-muted">Admin</small></a>
                                    </div>
                                    <div class="">
                                        <a href="" class="me-1"><i class="fas fa-video text-muted"></i></a>
                                        <a href="" class="me-1"><i class="fas fa-headphones text-muted"></i></a>
                                        <a href="" class="me-1"><i class="fas fa-file-alt text-muted"></i></a>
                                        <a href="" class=""><i class="fas fa-image text-muted"></i></a>
                                    </div>
                                </div>
                                <a href="" class="d-inline-block h4 lh-sm mb-3">Importance of Hajj in Islam</a>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                   <div class="col-lg-6 col-xl-4">
                        <div class="sermon-item wow fadeIn" data-wow-delay="0.5s">
                            <div class="overflow-hidden p-4 pb-0">
                                <img src="static/static/img/sermon-3.jpg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="p-4">
                                <div class="sermon-meta d-flex justify-content-between pb-2">
                                    <div class="">
                                        <small><i class="fa fa-calendar me-2 text-muted"></i><a href="" class="text-muted me-2">13 Nov 2023</small></a>
                                        <small><i class="fas fa-user me-2 text-muted"></i><a href="" class="text-muted">Admin</small></a>
                                    </div>
                                    <div class="">
                                        <a href="" class="me-1"><i class="fas fa-video text-muted"></i></a>
                                        <a href="" class="me-1"><i class="fas fa-headphones text-muted"></i></a>
                                        <a href="" class="me-1"><i class="fas fa-file-alt text-muted"></i></a>
                                        <a href="" class=""><i class="fas fa-image text-muted"></i></a>
                                    </div>
                                </div>
                                <a href="" class="d-inline-block h4 lh-sm mb-3">Importance of “Piller” of Islam</a>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- Sermon End -->


        <!-- Blog Start -->
        <!--
        <div class="container-fluid py-5">
            <div class="container py-5">
                <h1 class="display-3 mb-5 wow fadeIn" data-wow-delay="0.1s">Latest From <span class="text-primary">Our Blog</span></h1>
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-6 col-xl-4">
                        <div class="blog-item wow fadeIn" data-wow-delay="0.1s">
                            <div class="blog-img position-relative overflow-hidden">
                                <img src="static/static/img/blog-1.jpg" class="img-fluid w-100" alt="">
                                <div class="bg-primary d-inline px-3 py-2 text-center text-white position-absolute top-0 end-0">01 Jan 2045</div>
                            </div>
                            <div class="p-4">
                                <div class="blog-meta d-flex justify-content-between pb-2">
                                    <div class="">
                                        <small><i class="fas fa-user me-2 text-muted"></i><a href="" class="text-muted me-2">By Admin</small></a>
                                        <small><i class="fa fa-comment-alt me-2 text-muted"></i><a href="" class="text-muted me-2">12 Comments</small></a>
                                    </div>
                                    <div class="">
                                        <a href=""><i class="fas fa-bookmark text-muted"></i></a>
                                    </div>
                                </div>
                                <a href="" class="d-inline-block h4 lh-sm mb-3">Importance of “Piller” of Islam</a>
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                aliquip ex ea commodo consequat.</p>
                                <a href="#" class="btn btn-primary px-3">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="blog-item wow fadeIn" data-wow-delay="0.3s">
                            <div class="blog-img position-relative overflow-hidden">
                                <img src="static/static/img/blog-2.jpg" class="img-fluid w-100" alt="">
                                <div class="bg-primary d-inline px-3 py-2 text-center text-white position-absolute top-0 end-0">01 Jan 2045</div>
                            </div>
                            <div class="p-4">
                                <div class="blog-meta d-flex justify-content-between pb-2">
                                    <div class="">
                                        <small><i class="fas fa-user me-2 text-muted"></i><a href="" class="text-muted me-2">By Admin</small></a>
                                        <small><i class="fa fa-comment-alt me-2 text-muted"></i><a href="" class="text-muted me-2">12 Comments</small></a>
                                    </div>
                                    <div class="">
                                        <a href=""><i class="fas fa-bookmark text-muted"></i></a>
                                    </div>
                                </div>
                                <a href="" class="d-inline-block h4 lh-sm mb-3">How to get closer to Allah</a>
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                aliquip ex ea commodo consequat.</p>
                                <a href="#" class="btn btn-primary px-3">More Details</a>
                            </div>
                        </div>
                    </div>
                   <div class="col-lg-6 col-xl-4">
                        <div class="blog-item wow fadeIn" data-wow-delay="0.5s">
                            <div class="blog-img position-relative overflow-hidden">
                                <img src="static/static/img/blog-3.jpg" class="img-fluid w-100" alt="">
                                <div class="bg-primary d-inline px-3 py-2 text-center text-white position-absolute top-0 end-0">01 Jan 2045</div>
                            </div>
                            <div class="p-4">
                                <div class="blog-meta d-flex justify-content-between pb-2">
                                    <div class="">
                                        <small><i class="fas fa-user me-2 text-muted"></i><a href="" class="text-muted me-2">By Admin</small></a>
                                        <small><i class="fa fa-comment-alt me-2 text-muted"></i><a href="" class="text-muted me-2">12 Comments</small></a>
                                    </div>
                                    <div class="">
                                        <a href=""><i class="fas fa-bookmark text-muted"></i></a>
                                    </div>
                                </div>
                                <a href="" class="d-inline-block h4 lh-sm mb-3">Importance of Hajj in Islam</a>
                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                aliquip ex ea commodo consequat.</p>
                                <a href="#" class="btn btn-primary px-3">More Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- Blog End -->


        <!-- Team Start -->
        <!--
        <div class="container-fluid team py-5">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
                    <p class="fs-5 text-uppercase text-primary">Our Team</p>
                    <h1 class="display-3">Meet Our Organizer</h1>
                </div>
                <div class="row g-5">
                    <div class="col-lg-4 col-xl-5">
                        <div class="team-img wow zoomIn" data-wow-delay="0.1s">
                            <img src="static/static/img/team-1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-7">
                        <div class="team-item wow fadeIn" data-wow-delay="0.1s">
                            <h1>Anamul Hasan</h1>
                            <h5 class="fw-normal fst-italic text-primary mb-4">President</h5>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. aliquip ex ea commodo consequat.</p>
                            <div class="team-icon d-flex pb-4 mb-4 border-bottom border-primary">
                                <a class="btn btn-primary btn-lg-square me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-lg-square me-2" href=""><i class="fab fa-twitter"></i></a>
                                <a href="#" class="btn btn-primary btn-lg-square me-2"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="btn btn-primary btn-lg-square"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-md-4">
                                <div class="team-item wow zoomIn" data-wow-delay="0.2s">
                                    <img src="static/static/img/team-2.jpg" class="img-fluid w-100" alt="">
                                    <div class="team-content text-dark text-center py-3">
                                        <div class="team-content-inner">
                                            <h5 class="mb-0">Mustafa Kamal</h5>
                                            <p class="text-dark">Imam</p>
                                            <div class="team-icon d-flex align-items-center justify-content-center">
                                                <a class="btn btn-primary btn-sm-square me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                                <a class="btn btn-primary btn-sm-square me-2" href=""><i class="fab fa-twitter"></i></a>
                                                <a href="#" class="btn btn-primary btn-sm-square me-2"><i class="fab fa-instagram"></i></a>
                                                <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-item wow zoomIn" data-wow-delay="0.4s">
                                    <img src="static/static/img/team-3.jpg" class="img-fluid w-100" alt="">
                                    <div class="team-content text-dark text-center py-3">
                                        <div class="team-content-inner">
                                            <h5 class="mb-0">Nahiyan Momen</h5>
                                            <p class="text-dark">Teacher</p>
                                            <div class="team-icon d-flex align-items-center justify-content-center">
                                                <a class="btn btn-primary btn-sm-square me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                                <a class="btn btn-primary btn-sm-square me-2" href=""><i class="fab fa-twitter"></i></a>
                                                <a href="#" class="btn btn-primary btn-sm-square me-2"><i class="fab fa-instagram"></i></a>
                                                <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-item wow zoomIn" data-wow-delay="0.6s">
                                    <img src="static/static/img/team-4.jpg" class="img-fluid w-100" alt="">
                                    <div class="team-content text-dark text-center py-3">
                                        <div class="team-content-inner">
                                            <h5 class="mb-0">Asfaque Ali</h5>
                                            <p class="text-dark">Volunteer</p>
                                            <div class="team-icon d-flex align-items-center justify-content-center">
                                                <a class="btn btn-primary btn-sm-square me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                                <a class="btn btn-primary btn-sm-square me-2" href=""><i class="fab fa-twitter"></i></a>
                                                <a href="#" class="btn btn-primary btn-sm-square me-2"><i class="fab fa-instagram"></i></a>
                                                <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- Team End -->


        <!-- Testiminial Start -->
        <!--
        <div class="container-fluid testimonial py-5">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
                    <p class="fs-5 text-uppercase text-primary">Testimonial</p>
                    <h1 class="display-3">What People Say About Islam</h1>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay="0.1s">
                    <div class="testimonial-item">
                        <div class="d-flex mb-3">
                            <div class="position-relative">
                                <img src="static/static/static/img/testimonial-1.jpg" class="img-fluid" alt="">
                                <div class="btn-md-square bg-primary rounded-circle position-absolute" style="top: 25px; left: -25px;">
                                    <i class="fa fa-quote-left text-dark"></i>
                                </div>
                            </div>
                            <div class="ps-3 my-auto ">
                                <h5 class="mb-0">Full Name</h5>
                                <p class="m-0">Profession</p>
                            </div>
                        </div>
                        <div class="testimonial-content">
                            <div class="d-flex">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                            <p class="fs-5 m-0 pt-3">Lorem ipsum dolor sit amet elit, sed do tempor ut labore et dolore magna aliqua. Ut enim ad minim quis.</p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="d-flex mb-3">
                            <div class="position-relative">
                                <img src="static/static/img/testimonial-2.jpg" class="img-fluid" alt="">
                                <div class="btn-md-square bg-primary rounded-circle position-absolute" style="top: 25px; left: -25px;">
                                    <i class="fa fa-quote-left text-dark"></i>
                                </div>
                            </div>
                            <div class="ps-3 my-auto ">
                                <h5 class="mb-0">Full Name</h5>
                                <p class="m-0">Profession</p>
                            </div>
                        </div>
                        <div class="testimonial-content">
                            <div class="d-flex">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                            <p class="fs-5 m-0 pt-3">Lorem ipsum dolor sit amet elit, sed do tempor ut labore et dolore magna aliqua. Ut enim ad minim quis.</p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="d-flex mb-3">
                            <div class="position-relative">
                                <img src="static/static/img/testimonial-3.jpg" class="img-fluid" alt="">
                                <div class="btn-md-square bg-primary rounded-circle position-absolute" style="top: 25px; left: -25px;">
                                    <i class="fa fa-quote-left text-dark"></i>
                                </div>
                            </div>
                            <div class="ps-3 my-auto ">
                                <h5 class="mb-0">Full Name</h5>
                                <p class="m-0">Profession</p>
                            </div>
                        </div>
                        <div class="testimonial-content">
                            <div class="d-flex">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                            <p class="fs-5 m-0 pt-3">Lorem ipsum dolor sit amet elit, sed do tempor ut labore et dolore magna aliqua. Ut enim ad minim quis.</p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="d-flex mb-3">
                            <div class="position-relative">
                                <img src="static/static/img/testimonial-4.jpg" class="img-fluid" alt="">
                                <div class="btn-md-square bg-primary rounded-circle position-absolute" style="top: 25px; left: -25px;">
                                    <i class="fa fa-quote-left text-dark"></i>
                                </div>
                            </div>
                            <div class="ps-3 my-auto ">
                                <h5 class="mb-0">Full Name</h5>
                                <p class="m-0">Profession</p>
                            </div>
                        </div>
                        <div class="testimonial-content">
                            <div class="d-flex">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                            <p class="fs-5 m-0 pt-3">Lorem ipsum dolor sit amet elit, sed do tempor ut labore et dolore magna aliqua. Ut enim ad minim quis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- Testiminial End -->


        <!-- Footer Start -->
        <div class="container-fluid footer pt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row py-5">
                    <div class="col-lg-7">
                        <h1 class="text-light mb-0">Subscribe our newsletter</h1>
                        <p class="text-secondary">Get the latest news and other tips</p>
                    </div>
                    <div class="col-lg-5">
                        <div class="position-relative mx-auto">
                            <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Subcribe</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="border-top border-secondary"></div>
                    </div>
                </div>
                <div class="row g-4 footer-inner">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item mt-5">
                            <h4 class="text-light mb-4">Razvi Darul <span class="text-primary">Ifta</span></h4>
                            <p class="mb-4 text-secondary">One of the world's recognised venue, where great muslim scholars (Ulama) give legal opinion (fatwa) about a circumstance.</p>
                            <!-- <a href="" class="btn btn-primary py-2 px-4">Donate Now</a> -->
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item mt-5">
                            <h4 class="text-light mb-4">Our Venue</h4>
                            <div class="d-flex flex-column">
                                <h6 class="text-secondary mb-0">Our Address</h6>
                                <div class="d-flex align-items-center border-bottom py-4">
                                    <span class="flex-shrink-0 btn-square bg-primary me-3 p-4"><i class="fa fa-map-marker-alt text-dark"></i></span>
                                    <a href="" class="text-body">Front of mazar e alahazarat, markaz e ahle sunnath, saudagran, bareilly shareef UP, 2430011</a>
                                </div>
                                <h6 class="text-secondary mt-4 mb-0">Our Mobile</h6>
                                <div class="d-flex align-items-center py-4">
                                    <span class="flex-shrink-0 btn-square bg-primary me-3 p-4"><i class="fa fa-phone-alt text-dark"></i></span>
                                    <a href="" class="text-body">+012 345 67890</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item mt-5">
                            <h4 class="text-light mb-4">Explore Link</h4>
                            <div class="d-flex flex-column align-items-start">
                                <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Home</a>
                                <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>About Us</a>
                                <!-- <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Our Features</a>
                                <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Contact us</a>
                                <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Our Blog</a>
                                <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Our Events</a>
                                <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Donations</a>
                                <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Sermons</a> -->
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item mt-5">
                            <h4 class="text-light mb-4">Latest Post</h4>
                            <div class="d-flex border-bottom border-secondary py-4">
                                <img src="static/static/img/blog-mini-1.jpg" class="img-fluid flex-shrink-0" alt="">
                                <div class="ps-3">
                                    <p class="mb-0 text-muted">01 Jan 2045</p>
                                    <a href="" class="text-body">Lorem ipsum dolor sit amet elit eros vel</a>
                                </div>
                            </div>
                            <div class="d-flex py-4">
                                <img src="static/static/img/blog-mini-2.jpg" class="img-fluid flex-shrink-0" alt="">
                                <div class="ps-3">
                                    <p class="mb-0 text-muted">01 Jan 2045</p>
                                    <a href="" class="text-body">Lorem ipsum dolor sit amet elit eros vel</a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="container py-4">
                <div class="border-top border-secondary pb-4"></div>
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">razvidaruliftabareilly.com</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                        <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                        <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-light back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="static/lib/wow/wow.min.js"></script>
        <script src="static/lib/easing/easing.min.js"></script>
        <script src="static/lib/waypoints/waypoints.min.js"></script>
        <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Template Javascript -->
        <script src="static/js/main.js"></script>
        <script>
        
        function updateFileList(files) {
            var fileList = document.getElementById('fileList');
            fileList.innerHTML = '';

            files.forEach(function(file) {
                var listItem = document.createElement('li');
                listItem.textContent = file;
                fileList.appendChild(listItem);
            });
        }
        
            function openDocModal(docxFileUrl) {
                //fetch("http://127.0.0.1:5000/load-docx/"+docxFileUrl)
                fetch("http://129.154.44.165:5000/load-docx/"+docxFileUrl)
                    .then(response => response.arrayBuffer())
                    .then(arrayBuffer => {
                        // Convert the Word document to HTML
                        return mammoth.extractRawText({ arrayBuffer: arrayBuffer });
                    })
                    .then(displayResult)
                    .catch(handleError);
            }
    
            function displayResult(result) {
                var outputDiv = document.getElementById('output');
                outputDiv.innerHTML = result.value;
                outputDiv.style.fontSize = '20px'
                //outputDiv.style.fontFamily = 'Arial'
                // Show the modal after content is loaded
                $('#docModal').modal('show');
            }

            $(document).on('click', '[data-dismiss="modal"]', function () {
                $('#docModal').modal('hide');
            });
    
            function handleError(err) {
                console.error(err);
            }
        </script>
    </body>

</html>